.myContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "myNavBar"
    "myContent";
}

.myContent {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". myMain";
  grid-area: myContent;
}

.myMain {
  grid-area: myMain;
}

.myNavBar {
  grid-area: myNavBar;
  overflow: hidden;
}